<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape for Latest Data</a></p>
    </div>
    <div id="mars_news" class="col-lg-12 row">
      <h2><b>Latest Mars News:</b></h2>
      <h3><b><i>{{ mars.news_title }}</i></b></h3>
      <p><i>{{ mars.news_text }}</i></p>
    </div>
    <div id="feat_img" class="row">
      <div class="col-lg-8">
        <h2><b>Featured Image</b></h2>
        <img src="{{ mars.featured_image }}" class="img-responsive" alt="featured_img">
      </div>
      <div class="col-lg-4">
        <h3 class="text-center"><b>Mars Facts</b></h3>
        <div class="table-responsive">
          <table class="table">
            {{ mars.mars_facts_table | safe }}
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="mars_hemi_title" class="col-lg-12 row">
        <h2 class="text-center"><b>Mars Hemispheres</b></h2>
        <hr/>
      </div>
    </div>
    <div id="hemis" class="row">
      <div id="hemispheres_img_1" class="col-sm-6 col-lg-6">
        <figure class="figure">
          <h4 class="text-center"><b><i>{{ mars.images[0].image_title }}</i></b></h4>
          <img src="{{ mars.images[0].image_link }}" class="img-responsive">
        </figure>
      </div>
      <div id="hemispheres_img_2" class="col-sm-6 col-lg-6">
        <figure class="figure">
          <h4 class="text-center"><b><i>{{ mars.images[1].image_title }}</i></b></h4>
          <img src="{{ mars.images[1].image_link }}" class="img-responsive">
        </figure>
      </div>
      <div id="hemispheres_img_3" class="col-sm-6 col-lg-6">
        <figure class="figure">
          <h4 class="text-center"><b><i>{{ mars.images[2].image_title }}</i></b></h4>
          <img src="{{ mars.images[2].image_link }}" class="img-responsive">
        </figure>
      </div>
      <div id="hemispheres_img_4" class="col-sm-6 col-lg-6">
        <figure class="figure">
            <h4 class="text-center"><b><i>{{ mars.images[3].image_title }}</i></b></h4>
            <img src="{{ mars.images[3].image_link }}" class="img-responsive">
        </figure>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
</body>

</html>